env/.env

env/pg_service.conf

env/.env_local
README_dev.md
.vscode/

############################
# ENV + SECRETS
############################
.env
.env.*
*.env
env/*
!env/.template

*.json
!package.json
!poetry.lock

pg_service.conf
*.pem
*.key
*.crt

############################
# PYTHON
############################
__pycache__/
*.pyc
*.pyo
*.pyd

############################
# VENV
############################
.venv/
venv/

############################
# LOCAL DEV
############################
tmp/
temp/
logs/
*.log

############################
# TEST DATA
############################
testing/
*.geojson
*.gpkg
*.sqlite
*.csv

############################
# GIT
############################
.git
.gitignore

############################
# IDE
############################
.vscode/
.idea/

############################
# OS
############################
.DS_Store
Thumbs.db

############################
# DOCKER LOCAL ONLY
############################
docker-compose.override.yml